<section class="h-100 mt-5">
    <div class="container h-100 pt-5">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="text-center my-5">
                    <img ng-src="images/encuestaLogo.jpg" alt="logo" width="100">
                </div>
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4 text-center">Encuesta de Musica</h1>
                        <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
                            <div class="mb-3">
                                <button class="btn btn-primary btn-lg w-auto d-block mx-auto px-5" ui-sref="surveyMain">Encuesta</button>
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-success btn-lg w-auto d-block mx-auto px-5" ui-sref="surveyResult">Resultados</button>
                            </div>
                        </form>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>
